*{box-sizing: border-box;}

:root{
    --cor_fundo_cartao: #fdfcfb;
    --cor_a_fazer: #8895a7;
    --cor_andamento: #e0a458;
    --cor_concluido: #588157;
    --cor_revisao: #c77dff;
    --texto_principal:#2b2622;
    --borda: #e0dad3;
    --raio_borda: 15px;
    --escala-pequena: 8px;
    --escala-media: 20px;
    --escala-grande: 40px;


}

#quadro-geral{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border-radius: var(--raio_borda);
}
.coluna{
    display: flex;
    flex-direction: column;
}

.article{
    display: flex;
    flex-direction: column;
}