*{box-sizing: border-box;}

:root{
    --cor_fundo_cartao: #fdfcfb;
    --cor_a_fazer: #8895a7;
    --cor_andamento: #e0a458;
    --cor_concluido: #588157;
    --cor_revisao: #c77dff;
    --texto_principal:#2b2622;
    --borda: #e0dad3;
    --raio_borda: 15px;


}

#quadro-geral{
    display: grid;
}
.coluna{
    display: flex;
    flex-direction: column;
}

.article{
    display: flex;
    flex-direction: column;
}